*,
*::after,
*::before {
    margin: 0;
}

body {
    max-height: 100vh;
    overflow-y: hidden;
    background-color: black;
}

.content-article {
    position: absolute;
    top: 136px;
    display: block;
}



.content-image {
    text-align: center;
}

.content-text {
    display: flex;
    justify-content: space-around;
}

.content-text p {
    text-align: center;
    color: white;
    width: 80%;
    font-size: 20px;
}

